.app {
  position: relative;
  padding: 1rem;
}

@media (min-width: 1400px) {
  .app {
    margin: 0 auto;
    max-width: 1000px;
  }
}

@media (min-width: 1600px) {
  .app {
    margin: 0 auto;
    max-width: 1200px;
  }
}
